
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gayu</title>
</head>
<body>
    <div> 
        Welcome Gayatri
        <bd/>
        @ViewBag.Message
    </div>
</body>
</html>
